@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
@import url("http://fonts.cdnfonts.com/css/cocogoose");
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
* ::after,
* ::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

li {
  list-style: none;
}

a {
  text-decoration: inherit;
  color: inherit;
}

a:visited {
  text-decoration: inherit;
  color: inherit;
}

body {
  font-family: Lato, sans-serif;
}

.hero__heading--primary {
  font-size: 2.5rem;
  font-weight: 400;
  color: #ec5242;
  font-family: "Cocogoose";
}
.hero__heading--secondary {
  font-size: 1.6rem;
  font-weight: 400;
  color: #ec5242;
}
.hero__paragraph--primary {
  font-size: 1.2rem;
}
.hero__text-container p {
  font-style: 1.2rem;
}
.hero__text-container-upcoming {
  color: #272a31;
  font-weight: 900;
  font-size: 2rem;
  font-family: "Cocogoose";
}

.program__heading {
  color: #fff;
  font-size: 1.6rem;
}

.image-box1 h4 {
  color: #ec5242;
  font-size: 1.4rem;
}

.pb__text {
  color: #fff;
  font-size: 1.2rem;
}

.nav__layer {
  display: none;
}

.nav__logo {
  display: none;
}

.nav__list {
  display: none;
}

.nav__hamburger {
  padding-top: 1.5rem;
  margin-left: 2rem;
  margin-bottom: 4rem;
}

header {
  background-image: url("../../resources/img/main_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero {
  padding-bottom: 4rem;
}
.hero__heading--container {
  margin: 0 2rem;
}
.hero__paragraph--container {
  margin: 2.5rem 2rem 0;
  background-color: #fbfbfb;
  padding: 1.5rem;
  border: 3px solid #fff;
}
.hero__text-container {
  margin: 2rem 2rem 0;
}

.program {
  background-color: #272a31;
  background-image: url("../../resources/img/pattern_bg.png");
  padding-bottom: 2rem;
}
.program__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2rem;
  padding: 2rem 0 1rem;
}
.program__hr hr {
  margin: 0 auto;
  background-color: #ec5242;
  border: none;
  height: 2px;
  width: 30px;
}
.program__boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  margin: 2rem auto;
}
.program__boxes--box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(57, 57, 57, 0.5);
  margin-bottom: 1.2rem;
}

.image-box1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 12rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 2rem;
}
.image-box1 img {
  max-width: 40%;
}

.nav__hamburger img {
  height: 20px;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #fff;
  position: relative;
  background-color: #ec5242;
  max-width: 80%;
  margin: 1rem auto;
  font-size: 1.6rem;
}/*# sourceMappingURL=main.css.map */