.mobile-menu {
  display: none;
  background-color: #272a31;
  font-weight: 600;
  line-height: 4.4rem;
  opacity: 95%;
  height: 100vh;
  width: 100vw;
  position: fixed;
  color: #fff;
  font-size: 3.2rem;
  padding-left: 2.8rem;
  padding-top: 10.6rem;
  flex-direction: column;
  gap: 4rem;
  transition: all 1s ease;
}

.x-mobile {
  position: absolute;
  top: 5%;
  right: 5%;
}
