.nav__layer {
  display: none;
}

.nav__logo {
  display: none;
}

.nav__list {
  visibility: hidden;
}

main {
  display: grid;
  height: 90vh;
  grid-template-rows: 10% 40% 30% 20%;
  grid-template-columns: 1;
  grid-template-areas:
    'nav'
    'headings'
    'paragraph'
    'date';
}

.nav {
  grid-area: nav;
}

.hero {
  &__heading--container {
    grid-area: headings;
  }

  &__paragraph--container {
    grid-area: paragraph;
  }

  &__text-container {
    grid-area: date;
  }
}
