.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #fff;
  position: relative;
  background-color: #ec5242;
  max-width: 80%;
  margin: 1rem auto;
  font-size: 1.6rem;
}
