.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #fff;
  position: relative;
  background-color: #ec5242;
  max-width: 25rem;
  margin: 1rem auto;
  font-size: 1.6rem;

  &:hover {
    background-color: #471f1a;
  }

  @media only screen and (min-width: 768px) {
    display: none;
  }
}

.almanac {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  color: #ec5242;
  position: relative;
  background-color: #fff;
  border: 1px solid #ec5242;
  max-width: 25rem;
  margin: 0 auto;
  font-size: 1.6rem;
  border-radius: 5px;
}
